NODE_ENV = production
PORT = 8000
JWT_SECRET=<YOUR SECRET>
JWT_EXPIRES_IN=4h
JWT_COOKIE_EXPIRES_IN = 4
EMAIL_USERNAME=<THE EMAIL YOU WANT TO SEND EMAILS TO USERS FROM>
EMAIL_PASSWORD=<YOUR EMAIL TOKEN ACCESS>
