# Environment Variables

# Specifies the environment type
NODE_ENV=production

# The port on which the backend will run
PORT=8000

# Secret key for JWT token signing
JWT_SECRET=<YOUR_SECRET>

# Duration for which the JWT is valid
JWT_EXPIRES_IN=4h

# Duration for which the JWT cookie is valid (in hours)
JWT_COOKIE_EXPIRES_IN=4

# Email credentials for sending emails to users
EMAIL_USERNAME=<THE_EMAIL_YOU_WANT_TO_SEND_EMAILS_FROM>
EMAIL_PASSWORD=<YOUR_EMAIL_TOKEN_ACCESS>
